## Notebook for Ishikawa-2022 anndata file creation 
### Developed by: Anna Maguza

### Institute of Computational Biology - Computational Health Centre - Hemlholtz Munich

### 16 January 2023

#### Load packages

In [1]:
import numpy as np
import pandas as pd
import scanpy as sc
import anndata as an
import h5py
from scipy.io import mmread
from scipy.sparse import coo_matrix
import matplotlib.pyplot as plt
import scipy as sci

#### Setup Cells

In [2]:
%matplotlib inline

In [3]:
sc.settings.verbosity = 3             # verbosity: errors (0), warnings (1), info (2), hints (3)
sc.logging.print_header()
sc.settings.set_figure_params(dpi=80, facecolor='white')

/home/icb/anna.maguza/miniconda3/envs/scanpy_env/lib/python3.9/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

scanpy==1.9.1 anndata==0.8.0 umap==0.5.3 numpy==1.21.5 scipy==1.7.3 pandas==1.5.1 scikit-learn==1.1.3 statsmodels==0.13.2 pynndescent==0.5.8

#### Data upload

In [62]:
#Data Upload (tsv) - Barcodes
Barcodes = pd.read_csv('/lustre/groups/talaveralopez/datasets/Colorectal_cancer/Mice_intestine/Ishikawa-2022-mice/GSM6381794_barcodes.tsv', sep='\t', header=None, index_col=0)

In [63]:
#Data Upload (tsv) - Features
Features = pd.read_csv('/lustre/groups/talaveralopez/datasets/Colorectal_cancer/Mice_intestine/Ishikawa-2022-mice/GSM6381794_features.tsv', sep='\t', header=None, index_col=0)

In [64]:
#Data Upload (tsv) - Matrix
Matrix = mmread('/lustre/groups/talaveralopez/datasets/Colorectal_cancer/Mice_intestine/Ishikawa-2022-mice/GSM6381794_matrix.mtx')

In [65]:
Matrix = sci.sparse.csr_matrix(Matrix)

In [66]:
Ishikawa_anndata = an.AnnData(X=np.transpose(Matrix), var=Features, obs=Barcodes)

/tmp/ipykernel_5004/1932302732.py:1: FutureWarning: X.dtype being converted to np.float32 from int64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  Ishikawa_anndata = an.AnnData(X=np.transpose(Matrix), var=Features, obs=Barcodes)

In [67]:
Ishikawa_anndata.var

                                 1                2
0
ENSMUSG00000051951            Xkr4  Gene Expression
ENSMUSG00000089699          Gm1992  Gene Expression
ENSMUSG00000102343         Gm37381  Gene Expression
ENSMUSG00000025900             Rp1  Gene Expression
ENSMUSG00000025902           Sox17  Gene Expression
...                            ...              ...
ENSMUSG00000079808      AC168977.1  Gene Expression
ENSMUSG00000095041      AC149090.1  Gene Expression
ENSMUSG00000063897  CAAA01118383.1  Gene Expression
ENSMUSG00000096730        Vmn2r122  Gene Expression
ENSMUSG00000095742  CAAA01147332.1  Gene Expression

[31053 rows x 2 columns]

In [68]:
Ishikawa_anndata.obs

Empty DataFrame
Columns: []
Index: [AAACCCAAGAGGATGA-1, AAACCCAGTAGGTTTC-1, AAACCCATCGCGCCAA-1, AAACGAAAGACGGTCA-1, AAACGAAAGGCTCTAT-1, AAACGAACAGATTTCG-1, AAACGAATCAAGTTGC-1, AAACGAATCAGCTCTC-1, AAACGCTAGACTGGGT-1, AAACGCTAGCGACTGA-1, AAACGCTCAGGCGATA-1, AAACGCTGTAACTTCG-1, AAACGCTGTCGCATGC-1, AAACGCTGTTGCGGCT-1, AAACGCTTCGAGTCCG-1, AAAGAACAGCAAATGT-1, AAAGAACAGCATCTTG-1, AAAGAACCAGCTGTAT-1, AAAGAACTCAAGAGTA-1, AAAGGGCAGAGAGCAA-1, AAAGGGCGTGTTCCAA-1, AAAGGGCTCGCGCCAA-1, AAAGGTAAGGCATCAG-1, AAAGGTAAGGGAGGCA-1, AAAGGTACAACTGCCG-1, AAAGGTATCCTTTAGT-1, AAAGTCCCAAGTGGCA-1, AAAGTGAAGTGAGTGC-1, AAAGTGAAGTGGTCAG-1, AAAGTGACAGGAACCA-1, AAAGTGAGTAGCTTTG-1, AAAGTGAGTTTGGGAG-1, AAAGTGATCCGCTGTT-1, AACAAAGGTGAGATTA-1, AACAACCCACGACAAG-1, AACAACCCATTGAGCT-1, AACAACCGTCCGAAGA-1, AACAACCGTGCAGATG-1, AACAACCTCGAGTCTA-1, AACAAGAAGCGCCGTT-1, AACACACAGAGGACTC-1, AACACACAGAGGTATT-1, AACACACTCCCACAGG-1, AACAGGGCACGACCTG-1, AACAGGGCATAGGTTC-1, AACAGGGGTAGGCAAC-1, AACAGGGGTGACCGTC-1, AACCAACAGACTTGTC-1, AACCAACAGGTCCAGA-1, AACCAACAGTCTGCAT-1, AACCAACGTAGGTAGC-1, AACCAACGTTCTCCCA-1, AACCAACTCGATTGAC-1, AACCACAAGACTAAGT-1, AACCACAAGAGTACCG-1, AACCACAAGGAGGTTC-1, AACCACACATAATGAG-1, AACCACAGTCGTGGAA-1, AACCACATCTCCGAAA-1, AACCATGCACCTGCTT-1, AACCATGCATATCTCT-1, AACCATGTCCGAAATC-1, AACCATGTCTGGTGCG-1, AACCCAACAAATCGGG-1, AACCCAAGTTGTGCCG-1, AACCTGAAGGAGTATT-1, AACCTGAAGGCAGCTA-1, AACCTGACAAGGTCAG-1, AACCTGACACTGAGTT-1, AACCTGAGTCGTTGCG-1, AACCTGAGTGCCGTAC-1, AACCTGAGTTGCTAGT-1, AACCTGATCACATCAG-1, AACCTGATCCAAGCTA-1, AACCTTTCACAAGTTC-1, AACCTTTCACCCTGAG-1, AACCTTTCAGTTTCGA-1, AACCTTTTCAAGTTGC-1, AACGAAACACGTATAC-1, AACGAAATCCATCTCG-1, AACGGGAAGGCGCTTC-1, AACGGGACACTTGTCC-1, AACGGGAGTCGGCCTA-1, AACGGGATCGCTGTCT-1, AACGTCAAGTAGGGTC-1, AACGTCACACCAAAGG-1, AACGTCACAGATCATC-1, AACGTCACAGGCAATG-1, AACGTCAGTAGGAAAG-1, AACGTCAGTGGTCCCA-1, AACTTCTAGGATTTCC-1, AACTTCTGTGATAGTA-1, AACTTCTGTTCTCTAT-1, AACTTCTGTTGAGGAC-1, AACTTCTTCAATCAGC-1, AACTTCTTCTAGAACC-1, AAGAACAAGCCTCTTC-1, AAGAACACATGCAGGA-1, AAGAACAGTGAGTTTC-1, AAGAACATCCGCCTAT-1, ...]

[3638 rows x 0 columns]

In [69]:
#Name the column in obs as cell_index
Ishikawa_anndata.obs['cell_index'] = Ishikawa_anndata.obs.index
#Change anndata index to numeric index
Ishikawa_anndata.obs.index = np.arange(0, len(Ishikawa_anndata.obs.index))
#Change anndata column names to string
Ishikawa_anndata.obs.columns = Ishikawa_anndata.obs.columns.astype(str)
Ishikawa_anndata.obs

              cell_index
0     AAACCCAAGAGGATGA-1
1     AAACCCAGTAGGTTTC-1
2     AAACCCATCGCGCCAA-1
3     AAACGAAAGACGGTCA-1
4     AAACGAAAGGCTCTAT-1
...                  ...
3633  TTTGTTGCAAGTCCCG-1
3634  TTTGTTGCATGAGATA-1
3635  TTTGTTGGTCAGTCGC-1
3636  TTTGTTGTCGAGGCAA-1
3637  TTTGTTGTCTGGACCG-1

[3638 rows x 1 columns]

In [70]:
#Name the column in var as gene_id
Ishikawa_anndata.var['gene_id'] = Ishikawa_anndata.var.index
#Change anndata index to numeric index
Ishikawa_anndata.var.index = np.arange(0, len(Ishikawa_anndata.var.index))
#Change anndata column names to string
Ishikawa_anndata.var.columns = Ishikawa_anndata.var.columns.astype(str)
Ishikawa_anndata.var

                    1                2             gene_id
0                Xkr4  Gene Expression  ENSMUSG00000051951
1              Gm1992  Gene Expression  ENSMUSG00000089699
2             Gm37381  Gene Expression  ENSMUSG00000102343
3                 Rp1  Gene Expression  ENSMUSG00000025900
4               Sox17  Gene Expression  ENSMUSG00000025902
...               ...              ...                 ...
31048      AC168977.1  Gene Expression  ENSMUSG00000079808
31049      AC149090.1  Gene Expression  ENSMUSG00000095041
31050  CAAA01118383.1  Gene Expression  ENSMUSG00000063897
31051        Vmn2r122  Gene Expression  ENSMUSG00000096730
31052  CAAA01147332.1  Gene Expression  ENSMUSG00000095742

[31053 rows x 3 columns]

In [71]:
#Name the columns properly
Ishikawa_anndata.var.rename(columns={"1": "gene_name"}, inplace=True)
Ishikawa_anndata.var.rename(columns={"2": "type"}, inplace=True)
Ishikawa_anndata.var

            gene_name             type             gene_id
0                Xkr4  Gene Expression  ENSMUSG00000051951
1              Gm1992  Gene Expression  ENSMUSG00000089699
2             Gm37381  Gene Expression  ENSMUSG00000102343
3                 Rp1  Gene Expression  ENSMUSG00000025900
4               Sox17  Gene Expression  ENSMUSG00000025902
...               ...              ...                 ...
31048      AC168977.1  Gene Expression  ENSMUSG00000079808
31049      AC149090.1  Gene Expression  ENSMUSG00000095041
31050  CAAA01118383.1  Gene Expression  ENSMUSG00000063897
31051        Vmn2r122  Gene Expression  ENSMUSG00000096730
31052  CAAA01147332.1  Gene Expression  ENSMUSG00000095742

[31053 rows x 3 columns]

In [72]:
Ishikawa_anndata.X

<3638x31053 sparse matrix of type '<class 'numpy.float32'>'
	with 8586005 stored elements in Compressed Sparse Column format>

In [73]:
#Save the anndata object
Ishikawa_anndata.write('/lustre/groups/talaveralopez/datasets/Colorectal_cancer/Mice_intestine/Ishikawa-2022-mice/GSM6381794_anndata_raw-2.h5ad')